.c-feed-item__date {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}
.c-feed-item__content {
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    color: #2B4551;
    border-top: solid 2px #EBEEF5;
    border-bottom: solid 2px #EBEEF5;
    flex-direction: row;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    height: 65px;
}
.c-feed-item__description,
.c-feed-item__info {
    align-self: center;
    display: flex;
    flex: 1;
    flex-direction: row;
}

.c-feed-item__description {
    justify-content: flex-start;
}


.c-feed-item__logo-container,
.c-feed-item__name,
.c-feed-item__emotion-picker,
.c-feed-item__amount {
    display: flex;
    align-self: center;
}
.c-feed-item__logo--empty{
    background-color: #D8D8D8
}
.c-feed-item__logo {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    border-radius: 9999px;
}
.c-feed-item__logo-container {
    flex: 1;
}
.c-feed-item__name {
    flex: 3;
}
.c-feed-item__emotion-picker {
    flex: 1;
    justify-content: flex-end;
}
.c-feed-item__amount {
    flex: 1;
    justify-content: flex-end;
    font-weight: bolder;
    font-family: 'Source Sans Pro', sans-serif;
}
.c-feed-item__amount--positive {
    color: #20CBAA;
}